.itemMenuStyle {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.itemMenuStyle:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}