.bullet-content {
    display: flex;
    width: 65px;
    justify-content: space-between;
    align-items: center;
}
.bullet-content-inactive {
    display: flex;
    width: 75px;
    justify-content: space-between;
    align-items: center;
}