.content, .content-grid{
    font-size: 0.85rem;
    border-radius: 4px;
    color: #333;
    margin-top: 65px;
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    width: 100%;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 18px 8px 18px;
    align-items: center;
}

.content-grid {
    margin-top: 8px;
}

.content-not-grid {
    font-size: 1rem;
    border-radius: 4px;
    color: #333;
    margin-top: 8px;
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    width: 100%;
}

.button-create {
    max-height: 40px;
}

.button-aux {
    max-height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: none;
    box-shadow: none;
}